body {
  background: #2c3e50 ;
  font-family: 'Open Sans', sans-serif;
}
.iama-main-side {
  background: #f2f8ff;
}
.pedleys-logo {
  max-width: 25%;
}
.lime-logo-sidebar {
  margin-top: 1.5rem!important;
  margin-left: 2rem;
  text-align: inherit;
}
.animate-message-action-checkbox.checked {
  border: 1px solid #94D500;
}
.animate-message-action-checkbox.checked .animate-button-carat {
  color: #94D500;
}
.animate-message-action-button {
  background: none;
  transition: all 0.25s ease;
  border-radius: 10px;
}
.animate-message-action-button:hover {
  background: #FFF;
}
.animate-message-action-input {
  background: #e4ecf5;
  border: 1px solid rgba(0,0,0,0.5);
}


.iama-back-symbol {
  padding: 18px;
  height: 10px;
  border: 1px solid #212121;
  margin-right: 0.75rem;
}
.iama-back-btn:hover .iama-back-symbol {
  background-color: #fff;
}
.iama-back-txt {
  line-height: 40px;
}

.pedleys-hero-txt {
  text-align: center;
}
.pedleys-hero-txt, .pedleys-lower-txt {
  color: #fff;
}
.text-testimonial-container {
  text-align: center;
}

.pedleys-hero-txt, .pedleys-testimonial-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

#iama-sidebar-text-na {
  font-size: 2.5rem;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pedleys-orange {
  color: #ff6f20;
}
#iama-txt {
  color: #FFF;
}

.xref-hero-txt, .xref-testimonial-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.xref-testimonial-txt {
  font-size: 0.75rem;
  color: rgba(255,255,255,0.75);
}

.iama-perm-progress {
  width: 100%;
  background: #FFF;
  min-height: 10px;
  border-radius: 5px;
}
.iama-perm-progress-bar {
  background: #2d3e50;
  width: 0%;
  height: 10px;
  border-radius: 5px;
}

.pedleys-system-text {
  color: #2d3e50;
  margin: 0.5rem;
  font-weight: 600;
}


/* This is temporary */
.brodie-spin.rotation {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: rotation;
  animation-name: rotation;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  transform-origin: right center;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.iama-msg-step-count {
  /* background: #ff6f20; */
  background: none;
  border: 1px solid rgba(0,0,0,0.5);
  font-size: 0.85rem;
}

.animate-message-end-subtext {
  text-align: center;
  margin-top: 1rem;
}


@media only screen and (max-width: 1000px) {
/* @media (min-width: 320px) { */
  .lime-sidebar-main {
    height: 15vh;
  }
  #iama-sidebar-text-na {
    height: auto !important;
    margin-top: 2vh;
  }
  .text-testimonial-container {
    display: none;
  }
  #iama {
    height: 70vh !important;
  }
  #iama-inner-a {
    height: 60vh !important;
    min-height: 60vh;
  }
  #iama-perm-back {
    font-size: 2.25rem
  }
  .animate-message-text {
    font-size: 5vw;
  }
  .iama-msg-step-count, .iama-next-step-btn {
    font-size: 2rem;
  }
  .animate-message-action-button, .animate-message-input-container {
    font-size: 2.25rem;
  }
  .pac-item {
    height: 60px;
  }
  .pac-item-query {
    font-size: 1.5rem;
  }
}

button {
  font-family: "Open Sans", sans-serif !important;
  text-transform: inherit !important;
  display: block !important;
}
